{% extends 'iplusers/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}


{% block body %}
<div class="container-fluid">
  {% if form.errors %}
  <p>There is something wrong with what you entered</p>

  {% endif %}

  {% if next %}
  <p>Please log in using your credentials</p>
  {% endif %}

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}


    <p>{{ form | crispy }}</p>

    <a href="{% url 'register' %}">No account!!! Register here</a>
    <p><input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}"></p>

  </form>

</div>

{% endblock %}
