{% extends 'iplusers/base.html' %}
{% block title %}Rules{% endblock %}
{% block body %}
<br>
<div class="container align-ceter text-info">
  <h1>RULES</h1>
  <li>
    For each match, there will be three questions.
  </li>
  <li>1st question will carry 10 points, 2nd and 3rd will carry 20 points each.</li>

    <li>Bounty will be separate for each question</li>

    <li>Winners will split the losers bounty for each question separately.</li>

    <li>Voting will end @ <strong>7:30 p.m</strong> ( match time ) for 7:30 games and  @ <strong>3:30 p.m</strong> for 3:30 games</li>

    <li>For more questions - whatsapp me</li>


</div>
{% endblock %}
